<ion-modal-view>
  <ion-content>
    <div class="row">
      <div class="col text-right">
        <button class="button button-clear" style="color: #333; font-size: 14pt;" ng-click="closeNoticeModal()">X</button>
      </div>
    </div>
    <div id="gangjinStart">
        <div class="notice">
            <span class="title">{{noticePopup.title}}</span><br/>
            <span class="date">{{noticePopup.regDate | date:'yyyy.MM.dd'}}</span>
            <br/><br/>
            <pre>{{noticePopup.conts}}</pre>
        </div>
        <ion-checkbox ng-model="noticePopup.nomore" ng-checked="noticePopup.nomore">다시 보지 않기</ion-checkbox>
    </div>
  </ion-content>
</ion-modal-view>


