<ion-modal-view class="reviewModal" style="background-color: transparent;">
  <ion-header-bar align-title="center" style="background-color: transparent;margin: 0px;padding: 5px;height: 44px;background-size: 0px" >
    <div class="buttons" style="margin: 0px;padding: 0px;height: 34px;width: 35px;margin-right: 5px">
      <button class="button button-clear" style="background-image: url('img/close_button.png');background-size: 32px;width: 32px;margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 32px;color: white" ng-click="closeReviewModal()"></button>
    </div>
    <h2 class="title" style="font-weight: bold;margin-top: 0px;margin-bottom: 0px;padding: 0px;height: 43px;color: white">강진 스탬프투어 Review</h2>

    <div class="buttons" style="margin: 0px;padding: 0px;height: 34px;margin-left: 5px">
      <button class="button button-clear" style="background-image: url('img/write_button.png');background-size: 32px;width: 32px;margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 32px;color: white" ng-click="writeReview()"></button>
    </div>

  </ion-header-bar>
  <ion-content scroll="false" style="text-align: center;margin: 0px;padding: 0px;top: 44px">
    <div style="position: absolute; bottom: 0%; width: 100%;height: 60%">

      <div style="height: 15%">
        <img class="starImg" ng-click="setStar(1);" src="img/star_full.png" style="height: 80%"/>
        <img class="starImg" ng-click="setStar(2);" src="img/star_full.png" style="height: 80%"/>
        <img class="starImg" ng-click="setStar(3);" src="img/star_full.png" style="height: 80%"/>
        <img class="starImg" ng-click="setStar(4);" src="img/star_full.png" style="height: 80%"/>
        <img class="starImg" ng-click="setStar(5);" src="img/star_full.png" style="height: 80%"/>
      </div>
      <div style="width: 100%;height: 70%;background-color: white;padding: 10px">
        <textarea placeholder="방문하신 곳은 어떠셨나요?" style="width: 100%;height: 100%;resize: none" ng-model="review.content"></textarea>
      </div>
      <div style="height: 15%;width: 100%;display: table;background-color: white">
        <div style="height: 100%;width: 100%;display: table-cell;vertical-align: top">
          <div style="text-align: end;">
            <img ng-click="shareTwitter()" src="img/twitter.png" style="height: 36px;margin-left: 0px;margin-right: 5px"/>
            <img ng-click="shareFacebook()" src="img/facebook.png" style="height: 36px;margin-left: 0px;margin-right: 5px"/>
            <img ng-click="shareNative()" src="img/share.png" style="height: 36px;margin-left: 7px;margin-right: 7px"/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>


