<ion-view view-title="{{titleName}}">
  <ion-content scroll="false" style="background-color: #e37e23">
    <div id="stampArea">
      <div class="stampSpot"><img src="img/{{showSpot.spotId}}d.png"/></div>
      <div class="stampCompleted" ng-show="stampCompleted"><img src="img/{{showSpot.spotId}}a.png"/></div>
      <canvas id="stampBack" class="stampBack"></canvas>
      <div class="spotReview" ng-show="!stampCompleted"><button class="button button-clear" ng-click="goQRscan(showSpot)">QR코드로 스탬프 찍기</button></div>
      <div class="spotReview" ng-show="stampCompleted"><button class="button button-clear" ng-click="openReviewModal()">Review 작성하기</button></div>
    </div>
  </ion-content>
  <ion-footer-bar class="stampFooter">
    <button class="button button-clear button-block" ng-click="goSpotDetail(showSpot)"><img src="img/spot_point.png" style="vertical-align: middle;"/> <span>관광지 상세 보기</span></button>
  </ion-footer-bar>
</ion-view>
