@font-face{
  font-family: NanumGothic;
  src: url(../fonts/NanumGothic.eot);
  src: local(※), url(../fonts/NanumGothic.woff) format('woff');
  src: local(※), url(../fonts/NanumGothic.ttf) format('truetype');
}

body,table,input,textarea,select,button,pre,span { font-family:NanumGothic,'나눔고딕',sans-serif }

button.button { font-weight: bolder; font-size: 12pt; }
.button-signIn { color: #333 !important; }

label.item-checkbox { border: none; }
label.item-checkbox span { font-size: 12pt !important;}

#gangjinStart {
  width: 80%;
  padding-top: 0%;
  margin: auto;
}

#gangjinStart img {
  width: 90%;
  margin: 5%;
}

#gangjinStart div.title {
  margin-bottom: 20px;
  text-align: center;
}

#gangjinStart span {
  margin: auto;
  font-size: 15pt;
  font-weight: bolder;
  padding-bottom: 5px;
  border-bottom: 3px solid #e27d23;
}

#gangjinStart input {
  width: 100%;
  background: #ebebeb;
  color: #494747;
  margin-bottom: 5px;
  padding: 10px;
}

#gangjinModel {
  width: 80%;
  margin: auto;
}

#gangjinModel img {
  width: 50%;
  margin: 5% 25% 5% 25%;
}

#gangjinSide {
  background: #f1f1f1;
}
#gangjinSide ion-item {
  background: #f1f1f1;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

#gangjinSide button {
  color: #696969;
  font-weight: bolder;
}

#gangjinSide button.signIn {
  color: #eb7d22;
}

#gangjinSide img.logo {
  width: 70%;
  margin: 15%;
}

#gangjinSide .contact {
  width: 100%;
  padding: 10px;
  text-align: center;
}

#footer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#footer button {
  font-size: 12px !important;
  color: #333 !important;
  line-height: auto !important;
}
#footer span {
  font-size: 12px !important;
  color: #e37f23 !important;
  line-height: 32px;
}

.bar.bar-stable{
  border-color: white;
  background: white;
}

/* Empty. Add your own CSS if you like */
.rallyItem > .item-content {
  padding: 0px;
}
.rallyItem {
  padding: 0px;
}

.rallyItemBox{
  height: 250px;
  padding-top: 40px;
}

.rallyPanel{
  color: black;
  margin: 0;
  text-align: center;
}

.rallyName{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.rallyDesc{
  font-size: 17px;
}
.rallyDate{
  font-size: 17px;
}


.rallyPointDiv{
  background: url(../img/rally_point.png) no-repeat center;
  height: 90px;
  color:#4f4f4f;
  background-size: 90px;
  text-align: center;
  line-height: 110px;
  font-size: 16px;
}


.stampIcon {
  /*top:5px;*/
  /*right: 5px;*/
  width: 30px;
  height: 34px;
  /*position: fixed;*/
  /*z-index: 5;*/
  background: url(../img/stamp_icon.png) no-repeat center;
  background-size: 30px;
}


.rallyPointTextPanel{
  margin: 0px;
  margin-bottom: 15px;
  text-align: center;
  color: #81c5cc;
  font-weight: bolder;
}

.imageSlide{
  top: 0px;
  left: 0px;
  position: relative;
  z-index: 3;
  width: 100%;;
  height: 250px;
  background-size: cover;
}

.fixedDivTwo {
  background-color: #dadada;
  padding: 7px 0;
  text-align: center;
}

.fixedDivThr{
  padding-top: 15px;
}

.rallyDescription{
  margin: 0px 15px 20px 15px;
  text-align: left;
}

.rallyInformation {
  padding: 20px;
  background: #f2f2f2;
  min-height: 50px;
}

.rallyReview {
  margin: 0px 15px 20px 15px;
}

.rallyReview div.description {
  float: left;
  width: 90%;
  padding: 3%;
  color: #545353;
}
.rallyReview div.description span.date {
  font-size: 9pt;
  color: #8f8f8f;
}

.rallyReview div.description img {
  width: 50%;
}


.infoImage{
  width: 90%;
  margin: 5%;
}

#map_bg {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#map {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
}

#map_canvas {
  width: 90%;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.mapImage {
  width: 90%;
  max-height: 200px;
  min-height: 200px;
  border-radius: 15px;
  /*border: 0;*/
  margin: 5%;
}

.modal-backdrop-bg{
  background-color: rgba(25, 25, 25, .7);
}
.modal-center {
  margin-top: 20%;
  height: 70%;
  width: 100%;
  min-height: 0px;
}

.modal-center-spot {
  margin-top: 40%;
  height: 50%;
  width: 100%;
  min-height: 0px;
}


.modalRallyName{
  margin-top: 7px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 1.5em;
  font-style: italic;
  color:#e37e23;
}
.modalRallyDesc{
  color: white;
  font-size: 1em;
}

.modalGangjinText{
  font-weight: bolder;
  font-size: 1.6em;
  margin-top: 5px;
  color: white;
}

.modalSpotText{
  font-weight: bolder;
  font-size: 2.1em;
  margin-top: 15px;
  color: white;
}


.row-wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 9px;
}


.spotItemCommon{
  height: 100%;
  width: 120px;
  line-height: 40px;
  font-size: 14px;
  color:white;
  font-weight: bolder;
  text-align: center;
}

.spotItem{
  /*width: 100%;*/
  height: 90px;
  /*margin-top: 25%;*/
  margin-left: 30%;
  background-size: contain;

  vertical-align: middle;
}

.oddRow{
  margin-left: 2%;
}

.evenRow{
  margin-left: 2%;
}

.firstOddRow{
  margin-left: 26%;
}

.firstEvenRow{
  margin-left: 16%;
}

.spotNumber{
  font-size: 12px;
  margin-bottom: -5px;
}

.spotName{
  font-weight: bolder;
  font-size: 15px;
}

.spotDesc{
  line-height: 14px;
  margin-top: 10px;
  font-size: 11px;
}

.bar.bar-stable .title{
  text-align: center;
  color: black;
  font-weight: bolder;
  margin: auto;
}

.bar.bar-light-stamp .title{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.spotListMargin{
  margin-top: 20px;
  margin-bottom: 20px;
}

#stampArea {
  position: relative;
  width: 100%;
  height: 100%;
}
#stampArea canvas.stampBack {
  position: absolute;
  left: 10%;
  margin-top: 3%;
  height: 93%;
  width: 80%;
  /*background: url(../img/stamp_back_new.png) no-repeat center;*/
  background-size: 70%;
  z-index: 101;
}

#stampArea div.stampSpot {
  position: absolute;
  left: 10%;
  margin-top: 3%;
  width: 80%;
  height: 90%;
  background: white;
  z-index: 100;
}

#stampArea div.stampSpot img {
  width: 70%;
  margin-top: 40%;
  margin-left: 15%;
  -ms-transform: rotate(340deg); /* IE 9 */
  -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
  transform: rotate(340deg);
}

#stampArea div.stampCompleted {
  position: absolute;
  left: 10%;
  margin-top: 3%;
  width: 80%;
  height: 93%;
  z-index: 105;
}

#stampArea div.stampCompleted img {
  width: 70%;
  margin-top: 50%;
  margin-left: 5%;
  -ms-transform: rotate(340deg); /* IE 9 */
  -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
  transform: rotate(340deg);
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

#stampArea div.spotDetail {
  position: absolute;
  width: 100%;
  bottom: 5%;
  z-index: 107;
  text-align: center;
}

#stampArea div.spotDetail button  {
  color: #e27d23;
  vertical-align: middle;
}

#stampArea div.spotReview {
  position: absolute;
  width: 100%;
  bottom: 10%;
  z-index: 108;
  text-align: center;
}

#stampArea div.spotReview button  {
  vertical-align: middle;
  /*border: 2px dotted #e27d22;*/
  background: #e4e4e4;
  color: #333;
  width: 70%;
  padding-bottom: 3%;
}

.stampFooter {
  background: #d3551a;
  height: 70px;
}

.stampFooter button span {
  color: #ffffff;
}

.notice {
  width: 90%;
  margin: 5%;
  padding: 5%;
  background: #efefef;
}

.notice span.title {
  font-weight: bold;
}

.notice span.date {
  font-size: 9pt;
  color: #8f8f8f;
}

.term {
  width: 100%;
  height: 200px;
  padding:5%;
  border: 1px solid #ccc;
}

.myStamp {
  width: 90%;
  margin: 5%;
  border-bottom: 1px solid #f6f6f6;
}

.myStamp div.stamp {
  float: left;
  width: 40%;
}
.myStamp div.stamp img {
  width: 90%;
  margin: 0 5% 0 5%;
}
.myStamp div.description {
  float: left;
  width: 60%;
  padding: 3%;
  color: #545353;
}
.myStamp div.description span.date {
  font-size: 9pt;
  color: #8f8f8f;
}

.myStamp div.description img {
  width: 50%;
}
