<ion-modal-view>
  <ion-content>
    <div class="row">
      <div class="col text-right">
        <button class="button button-clear" style="color: #333; font-size: 14pt;" ng-click="closeEventModal()">X</button>
      </div>
    </div>
    <div id="gangjinStart">
        <img src="img/stamp_gangjin_2017.jpg" style="margin-bottom: 0;"/>
      <h4>이벤트 응모</h4>
        <textarea style="width: 100%; height: 100px; border: 1px solid #ccc; margin-top: 5%;margin-bottom: 0;">
강진 스탬프투어 개인정보 수집동의

강진군은 사용자들의 개인정보를 소중히 다루고 있습니다.
1. 개인정보의 수집∙이용자
강진군, 강진군문화관광재단
2. 수집 및 이용정보수집의 목적
강진군은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 사용자가 동의한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 것입니다.
가. 경품 발송/이를 위한 연락 및 마케팅 광고에의 활용
1) 사용자의 이용 행태 분석을 통해 분석 등 향후 사용자의 서비스 패턴에 맞춘 개인형 맞춤 콘텐츠를 제공
2) 통계학적 분석 결과 특성에 따른 서비스 제공 및 광고 게재, 서비스 유효성 확인
3. 수집항목
강진군은 사용자가 강진 스탬프투어를 이용에 있어 원활한 서비스 제공 및 데이터 통계 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
가. 이름, 전화번호, 주소, 단말기 모델명, 단말기 OS종류 등
나. 서비스 이용과정에서 생성되는 정보(서비스 이용/인증 기록, 접속 기록 등)
4. 수집한 개인정보의 위탁
강진군은 서비스 향상을 위해 사용자의 개인정보가 필요한 경우 동의 등 법률상의 요건을 구비하여 아래와 같이 개인정보를 위탁하고 있으며 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. 또한 공유하는 정보는 당해 목적을 달성하기 위하여 필요한 최소한의 정보에 국한됩니다.
가. 수탁자 : 주식회사 투게더
나. 위탁내용 : 청취자 DB분석 프로그램 운영, 마케팅 업무
5. 개인정보 보유 및 이용기간
사용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.
6. 고지의 의무
현 개인정보 수집 이용 및 제3자 제공동의서 내용 추가, 삭제 및 수정이 있을 시에는 최소 7일 전부터 다산 강진 스탬프 투어 모바일 서비스를 통해 고지할 것입니다.
        </textarea>
      <ion-checkbox ng-model="apply.agree" ng-checked="apply.agree" style="border: none;">개인정보수집에 동의합니다.</ion-checkbox>
        <input type="text" title="이름" placeholder="이름" ng-model="apply.name">
        <input type="tel" title="연락처" placeholder="연락처" ng-model="apply.phone">
        <input type="text" title="주소" placeholder="주소" ng-model="apply.address">
      </div>
      <button class="button button-block button-clear button-signIn" ng-click="doApply()">응모하기</button>
    </div>
  </ion-content>
</ion-modal-view>


