<ion-side-menus enable-menu-with-back-views="false" class="gangjin-menu">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

<!--      <ion-nav-buttons side="right">
        <div class="stampIcon" ng-click="gotoStamp()">
        </div>
      </ion-nav-buttons>-->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu id="gangjinSide" side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close>
            <button class="button button-block button-clear signIn" ng-click="openModal()">
              <img src="img/signin.png" style="vertical-align: middle;"> &nbsp; {{statusText}}
              <!--로그인-->
            </button>
        </ion-item>
        <ion-item menu-close>
          <button class="button button-block button-clear" ng-click="goMyStamp()">
            나의 스탬프/Review
          </button>
        </ion-item>
        <ion-item menu-close>
          <button class="button button-block button-clear" ng-click="goEvent()">
            이벤트
          </button>
        </ion-item>
        <ion-item menu-close>
          <button class="button button-block button-clear" ng-click="goNotice()">
            공지사항
          </button>
        </ion-item>
      </ion-list>
      <div class="contact">강진군문화관광재단<br/>061-434-7999</div>
      <img src="img/gangjin_stamp_logo_event.png" class="logo" />
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
