<ion-modal-view>
  <ion-content>
    <div class="row">
      <div class="col text-right">
        <button class="button button-clear" style="color: #333; font-size: 14pt;" ng-click="closeModal()">X</button>
      </div>
    </div>
    <div id="gangjinStart">
      <div class="title row">
        <span>강진 스탬프투어</span>
      </div>
      <div class="list">
        <input type="text" title="가입했던 이메일 주소를 입력하세요" placeholder="가입했던 이메일 주소를 입력하세요" ng-model="loginData.email">
      </div>
        <button class="button button-block button-clear button-signIn" ng-click="doFindPassword()">비밀번호 찾기</button>
      <img src="img/gangjin_stamp_logo_event2.png" />
    </div>
  </ion-content>
  <ion-footer-bar>
    <div id="footer">
      <button class="button button-clear" ng-click="goSignIn()"><strong>로그인</strong></button>
      <span>|</span>
      <button class="button button-clear" ng-click="goSignUp()">가입하기</button>
      <span>|</span>
      <button class="button button-clear" ng-click="goFindPassword()">비밀번호 찾기</button>
      <span>|</span>
      <button class="button button-clear" ng-click="goTerm()">약관보기</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
