<ion-view align-title="center" view-title="이벤트">
  <ion-content scroll="true" >
    <div style="height: 10px;text-align: center;background-color: white;line-height: 14px;">
    </div >
    <div style="height: 100%">
          <div ng-repeat="event in eventList">
            <div class="notice">
              <span class="title">{{event.eventName}}</span> <span class="date">
                {{toDate(event.startDate)}} ~ {{toDate(event.endDate)}}
              </span><br/><br/>
              <pre>{{event.conts}}</pre>
              <button ng-click="goEvent(event.eventId)" ng-show="event.eventType=='SPO'" class="button button-energized button-full">이벤트 응모하기</button>
            </div>
          </div>
    </div>
  </ion-content>
</ion-view>
