<ion-modal-view>
  <ion-content>
  <div class="row">
      <div class="col text-right">
          <button class="button button-clear" style="color: #333; font-size: 14pt;" ng-click="closeModal()">X</button>
      </div>
  </div>
    <div id="gangjinStart">
      <!--<img src="img/gangjin_stamp_logo_event.png" style="position: absolute; top: 20px; left: 0;width: 40%;margin: 0 30% 5% 30%;"/>-->
      <!--<img src="img/gangjin_stamp_logo.png" style="padding-top: 30px;"/>-->
      <div class="title row">
        <span>강진 스탬프투어</span>
      </div>
      <div class="list" style="margin-bottom: 0;">
        <input type="text" title="이메일 주소" placeholder="이메일 주소" ng-model="loginData.email">
        <input type="password" title="비밀번호" placeholder="비밀번호" ng-model="loginData.password">
      </div>
        <button class="button button-block button-clear button-signIn" ng-click="doSignIn()">로그인</button>
        <button style="margin-top: 10px" class="button button-block button-positive" ng-click="fbSignCheck()">페이스북으로 로그인</button>
      <img src="img/gangjin_stamp_logo_event2.png" />
    </div>
  </ion-content>
  <ion-footer-bar>
    <div id="footer">
      <button class="button button-clear" ng-click="doSignIn()"><strong>로그인</strong></button>
      <span>|</span>
      <button class="button button-clear" ng-click="goSignUp()">가입하기</button>
      <span>|</span>
      <button class="button button-clear" ng-click="goFindPassword()">비밀번호 찾기</button>
      <span>|</span>
      <button class="button button-clear" ng-click="goTerm()">약관보기</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
