<ion-view view-title="공지사항">
  <ion-content scroll="true" >
    <div style="height: 10px;text-align: center;background-color: white;line-height: 14px;">
    </div >
    <div style="height: 100%">

          <div ng-repeat="notice in noticeList">
            <div class="notice">
              <span class="title">{{notice.title}}</span> <span class="date">{{notice.regDate | date:'yyyy.MM.dd'}}</span>
              <br/><br/>
              <pre>{{notice.conts}}</pre>
            </div>
          </div>

    </div>

  </ion-content>
</ion-view>
