<ion-view view-title="강진 스탬프투어">
  <ion-content scroll="false">
    <div style="height: 25px;text-align: center;background-color: white;line-height: 14px;">
      <!--다산ROAD를 따라 관광하며 스탬프를 모으세요!-->
    </div >
    <div style="height: 100%">
<!--      <img src="img/new_back.jpg" height="200px" width="100%"/>-->
      <div style="height: 60%;width: 100%;display: table;background-color:#ffffff">
        <div style="height: 100%;width: 100%;display: table-cell;vertical-align: middle">
          <div style="background: url('img/back01.jpg') no-repeat center #ffffff;height:500px;background-size: 100% 500px; margin:0; padding:0; border: 0;">
          <!--<div style="background:  background-color:#F4F4F4;height:500px">-->
            <!--1~12-->
            <div class="row" ng-repeat="rs in rallySpotList" ng-if="rs.spotId % 3 == 1" style="height: 130px" >
              <!--{{rs.spotId}}-->
              <div ng-repeat="rallySpot in rallySpotList" class="col-33 spotItemCommon" ng-if="rallySpot.spotId >= (rs.spotId/3)*3 && rallySpot.spotId < ((rs.spotId/3)*3)+3">
                <!--{{rallySpot.spotId}}-->
                <div class="spotListMargin">
                  <!--<div style="color: black;height: 12px;line-height: 12px;font-size: 12px;">aa한글</div>-->
                  <!--<div style="color: black;height: 10px;line-height: 10px;font-size: 12px;font-weight: bold">{{rallySpot.spotName}}</div>-->
                  <div class="spotItem" style="font-size: 35px;line-height: 65px;margin: 0 auto;background: url('img/{{rallySpot.spotId}}{{getCheckSpot(rallySpot)}}.png') no-repeat center;background-size: contain;" ng-click="goStamp(rallySpot)">
                    <!--{{rallySpot.spotId}}-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
