<ion-view view-title="나의 스탬프/후기">

  <ion-content scroll="true" >
    <div ng-if="stampList.length <= 0">
      <div class="notice" style="text-align: center;">
        아직 등록된 스탬프/후기가 없습니다.
      </div>
    </div>

      <div ng-repeat="stamp in stampList">
        <div class="myStamp row">
          <div class="stamp"><img src="img/{{stamp.spotId}}.png"/></div>
          <div class="description">
            <span class="date">{{stamp.regDate | date:'yyyy.MM.dd HH:mm:ss'}}</span>
            <br/>
            <div ng-if="stamp.rating > 0" ng-click="openReviewModal(stamp.rallyId, stamp.spotId, stamp.spotReviewId, stamp.rating, stamp.content)">
              <img src="img/star{{stamp.rating}}.png" class="star"/><br/>
              {{stamp.content}}
            </div>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
