<ion-view view-title="{{titleName}}">
  <ion-content scroll="true">
    <div class="imageSlide" style="background: url('img/back/{{showSpot.spotId}}.jpg') no-repeat center; background-size:cover"></div>
    <div class="fixedDivThr">
      <div style="height: 1px; background: #e1e1e1; margin: 0px 15px 10px 15px;"></div>
      <pre class="rallyDescription">{{showSpot.spotDescription}}</pre>
      <div ng-bind-html="spotInformation" ng-show="existInformation" class="rallyInformation"></div>
      <div id="map_bg">
        <div id="map"></div>
      </div>
      <div class="rallyReview">
        <strong>Reviews</strong>
        <div ng-repeat="review in reviewList">
          <div class="row">
            <div class="description">
              <span class="date">{{review.regDate | date:'yyyy.MM.dd HH:mm:ss'}}</span>
              <br/>
              <div ng-if="review.rating > 0">
                <img src="img/star{{review.rating}}.png" class="star"/><br/>
                {{review.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height:30px"> </div>
    </div>
  </ion-content>
</ion-view>