<ion-modal-view class="stmapModal" style="background-color: transparent;">
  <ion-header-bar align-title="center" style="background-color: transparent;margin: 0px;padding: 5px;height: 44px;background-size: 0px" >
    <div class="buttons" style="margin: 0px;padding: 0px;height: 34px;width: 35px;margin-right: 5px">
      <button class="button button-clear" style="background-image: url('img/close_button.png');background-size: 32px;width: 32px;margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 32px;color: white" ng-click="closeModal()"></button>
    </div>
    <h1 class="title" style="font-weight: bold;margin-top: 0px;margin-bottom: 0px;padding: 0px;height: 43px;color: white">강진다산ROAD</h1>

    <div class="buttons" style="margin: 0px;padding: 0px;height: 34px;margin-left: 5px">
      <button class="button button-clear" style="margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 32px;color: white"></button>
    </div>

  </ion-header-bar>
  <ion-content scroll="false" style="text-align: center;margin: 0px;padding: 0px;top: 44px">

    <div style="height: 55%">
    <!--<img src="https://stamp.2gather.us/image/{{stampResult.image.imageName}}.{{stampResult.image.extension}}" onerror="this.src='img/stamp.png'" style="height: 100%"/>-->
      <img src="img/{{showSpot.spotId}}.png" onerror="this.src='img/stamp.png'" style="height: 100%"/>
    </div>
    <!--<div style="height: 50%;width: 100%;display: table;">-->
      <!--<div style="height: 100%;width: 100%;display: table-cell;vertical-align: middle">-->

        <!--<div class="modalRallyName">{{stampResult.rally.rallyName}}</div>-->
        <div class="modalRallyName">COMPLETE!</div>
        <div class="modalGangjinText">강진다산ROAD</div>
        <div class="modalRallyDesc">{{stampResult.spot.spotInfomationShort}}</div>
        <div class="modalSpotText">{{stampResult.spot.spotName}}</div>

    <div style="position: absolute; bottom: 0px; width: 100%;    margin-bottom: 7%;">
      <div style="text-align: center">
        <img ng-click="openReviewModal()" src="img/review_button.png" style="height: 36px;margin-left: 7px;margin-right: 7px"/>
      </div>
    </div>
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-modal-view>


