<ion-modal-view>
  <ion-content>
      <div class="row">
          <div class="col text-right">
              <button class="button button-clear" style="color: #333; font-size: 14pt;" ng-click="closeModal()">X</button>
          </div>
      </div>
    <div id="gangjinStart">
        <div class="title row">
            <span>강진 스탬프투어</span>
        </div>
      <div class="row">‘강진 스탬프투어’이용약관</div>
      <div class="row">
        <textarea class="term">
제1조(목적)
이 약관은 (재)강진군문화관광재단(이하“재단”)이 제공하는 강진 스탬프투어 서비스의이용과 관련하여“재단”과 “회원”과의 권리 의무 및 책임사항，기타 필요한 사항을 규정함을 목적으로 합니다.

제2조(정의)
이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
1.“서비스”라 함은 구현되는 단말기(PC，TV，휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 “회원”이 이용할수 있는 강진 스탬프투어 서비스를 의미합니다.
2.“강진 스탬프투어”(이하“서비스”라 합니다.)는 회원의 휴대용 단말기에 스탬프를 접촉하는 방법으로 강진군 관광자원 방문을 인증하여 “회원”과 “제휴사”간의 쿠폰 발급，재화 또는 용역의 할인，각종 이벤트 참여 등 회원에게 제공하는 모바일서비스를 말합니다.
3.“회원”이라함은“서비스”에 접속하여 이 약관에 따라“재단”과 이용 계약을 체결하고，“재단”이 제공하는“서비스”를 이용하는 고객을 말합니다
4.“제휴사”란 재단과의 계약 하에 회원에게 본 서비스를 통하여 스탬프 멤버십，쿠폰 또는 이벤트 등을 제공하는 업체를 말합니다.

제3조 (약관의 게시와 개정)
1. 본 약관의 내용은 “강진 스탬프투어” 서비스의 홈페이지(www.gangjin.or.kr) 또는 이동통신형 단말기(이하 “단말기”라 합니다)를 통하여 구현된 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공시합니다.

2. “재단”은 “약관의 규제에 관한 법률”, “정보통신망이용촉진 및 정보보호등에 관한 법률(이하“정보통신망법”)”등 관련법을 위배하지 않은 범위에서 이 약관을 개정할 수 있습니다.

3. “재단”은 이 약관을 개정할 경우에는 개정 내용과 적용일자를 명시하여 “서비스”에서 적용일자 7일 전부터 적용일자 전일까지 공지합니다. 다만 “회원”에게 불리한 변경의 경우에는 적용일자 30일 전부터 공지합니다.

4.“재단”이 전항에 따라 공지하면서 “회원”에게 적용일자 전일까지 의사표ㅣ를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지하였음에도 “회원”이 명시적으로 거부의 의사표시를 하지 아니한 경우“회원”이 개정약관에 동의한 것으로 봅니다.
5. “회원”은 개정 약관에 동의하지 않은 경우 재단은 개정약관의 내용을 적용하 수 없으며, 적용일자 전일까지 “재단”에 거부의사르 표시하고 “서비스”이용계약을 해지할 수 있습니다.

제4조(약관 외 준칙)
1. “재단”는 약관 외에 별도의 운영정책을 둘 수 있습니다.
2. 본 약관과 관련하여 재단의 정책변경，법령의 제，개정，공공기관의 고시나 지침 등에 의하여 재단이 홈페이지의 관련사항 등의 내용도 이용계약의 일부를 구성합니다.
3.이 약관에서 정하지 아니한 사항이나 해석에 대해서는 운영정책，이용안내，관련법령에
따릅니다.

제5조(이용계약 체결)
1. 이용계약은“회원”이 되고자 하는 자(이하“가입신청자”라고합니다.)가 홈페이지 또는
단말기를 통하여 강진 스탬프투어 어플리케이션을 설치하고 이약관의 내용예 대하여 동의한 다음 “재단”이 정한절차에 따라 가입신청을 완료하면“재단”이 이러한 신청에 대하여 승낙함으로써 체결됩니다.
2.“재단”은 “가입신청자”의 신청에 대하여 “서비스”이용올 승낙함을 원칙으로 합니다. 다만，“재단”은 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에  이용계약을 해지할 수 있습니다



①“가입신청자”가 이 약관에 의하여 이전에“회원”자격을 상실한 적이 있는 경우, 단“재단”의 회원 재가입 승낙을 얻은 경우에는 예외로 함.(“재단”은 “회원”의 종류에 따라 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.)
② 명의 또는 타인의 명의를 이용한 경우
③ 허위 또는 잘못된 정보를 기재하거나, “재단”이 제시하는 내용을 기재하지 않은 경우
④“재단”은 서비스관련설비의 여유가 없거나 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.
⑤ “가입신청자”의 귀책사유로 인하여 승인이 불가능하거나 기타 이 약관에서 규정한 제반 사항을 위반하며 신청하는 경우.

제6조(개인정보보호의무)
“재단”은 정보통신망 이용촉진 및 정보보호 등에 관한 법률，개인정보보호법 등 관련 법령이 정하는 바에 따라“회원”의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 이용에 대해서는 관련 법령 및 “재단”의 개인정보취급방침이 적용됩니다. 다만，“재단”이 제작한 화면 이외의 링크된 화면등에서는“재단”의 개인정보취급방침이 적용되지 않습니다.

제7조(회원정보의 변경)
1.“회원”은 회원가입신청 시 기재한 사항이 변경되었을 경우 전화，전자우편，기타방법으로 “재단”에대하여 그 변경사항을 알려야합니다.
2.제2항의 변경사항을 “재단”에 알리지 않아 발생한 불이익에 대하여 “재단”은 책임지지않습니다.

제8조(“재단”의 의무)
1.“재단”은 관련법과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며，계속
적이고 안정적으로“서비스”를 제공하기 위하여 최선을 디하여 노력합니다.
2.“재단”은“회원”이 안전하게“서비스”를 이용할 수 있도록 개인정보(신용정보포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.
3.“재단”은“서비스”이용과 관련하여“회원”으로부터 제기된 의견이나 불만이 정당하다
고 인정할 경우에는 이를 처리하여야 합니다.
“서비스”내 알림，공지사항，전자우편 등을 통하여 “회원”에게 처리과정 및 결과를 전달할 수 있습니다.
4.“재단”은 서비스의 개선 및 고객 만족도 향상 등을 위한 목적으로 회원의 개인정보에 관한 통계자료를 작성하여 이를 사용할 수 있습니다.

제9조(“회원”의의무)
1.“회원”은 아래의 행위를 하여서는 안됩니다.
① 신청 또는 변경시 허위내용의 등록
② 타인의 정보도용
③“재단”이 게시한 정보의 변경
④“재단”이 정한 정보 이외의 정보(컴퓨터 프로그램 등)등의 송신 또는 게시
⑤“재단”과 기타 제3자의 저작권 등 지적재산권예 대한 침해
⑥“재단” 및 기타 제3자의 명예를 손상 시키거나 업무를 방해하는 행위
⑦“재단”의 동의없이 영리를 목적으로 “서비스”와 사용하는 행위
⑧ 기타 불법적이거나 부당한 행위
2.“회원”이 본 조 제1항에 명시된 행위를 한 경우에 “재단”은 부가적으로 제공한 혜택의 일부 또는 전부의 회수，특정서비스의 이용제한，이용계약의 해지, 손해배상의 청구 등의 조치를 할 수 있습니다.
3.“회원”은 관계법령，이 약관，이용안내 및 “서비스”와 관련하여“재단”이 공지하거나 통지한 사항등을 준수하여야 하며，기타“재단”의 업무에 l방해되는 행위를 하여서는 안됩니다.

제10조(“서비스’의 제공 등)
1.“재단”은“서비스”를 일정범위로 분할하여 각 범위별로 이용가능 시간을 별도로 지정할 수 있습니다. 다만 이러한 경우에는 그내용을 사전에 공지합니다.
2.“서비스”는 연중무휴，1일 24시간 제공함을 원칙으로 하나. 관광지 인증 스탬프 서비스의 경우 관광지별 09:00-18:00동안 가능하며. 일부 관광지는 정기 휴일운영에 따라 운영되지 않을 수 있습니다.
3.“재단”은 컴퓨터 등 정보통신설비의 보수점검，교체 및 고장，통신두절 또는 운영상 합리적인 이유가 있는 경우 서비스의 제공을 일시적으로 중단 할 수 있습니다.
4.“재단”은 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며，정기점검시간은
서비스제공화면에 공지한 바에 따릅니다.
5. “회원”은 본 서비스 가입 후 원하는 개별 제휴사의 혜택 서비스를 받을 수 있습니다.

제11조(“서비스”의 변경 및 중지)
1.“재단”는 안정적인“서비스”제공을 위하여 “서비스”의 내용，운영상，기술상 사항 등을 변경 할 수 있습니다.
2.“재단”은“서비스”를 변경할 경우 변경내용과 적용일자를 명시하여 사전에 공지합니다. 단“회원”의 권리나 의무 및“서비스”의 이용과 관련되는 실질적인 사항을 변경할 경우 적용일자 7일전부터 공지하며,“회원”에게 불리한 변경의 경우 적용일자 30일전부터 공지합니다.
3.“회원”은“서비스”변경에 동의하지 않을 경우 재단”예 거부의사를 표시하고 이용계약을 해지할 수 있습니다.
제12조(“회원”에 대한 통지)
1.“재단”이“회원”에 대하여 통지를 하는 경우 이약관에 별도의 규정이 없는 한“회원”이 제공한 전자우편주소，SMS 등으로 할 수 있습니다
졔13조(이용계약 해지)
1.“회원”은 언제든지 고객센터(홈페이지)등을 통하여 이용계약해지를 신청할 수 있으며，
“재단”은 관련법령이 정하는 바에 따라 이를 즉시 처리하여야 합니다.
2.“재단”은“회원”이 이 약관을 위반하거나 관계 법령을 위반하는 경우 이용계약을 해지할수 있습니다.
3. “회원”이 계약을 해지하는 경우, 관련법 및 개인정보취급방침에 따라 “회사”가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 “회원”의 모든 데이터는 소멸됩니다.
4. 전항에도 불구하고 제2항에 따라 “재단”이 이용계약을 해지하는 경우 “재단”은 “회원”의 이의신청 접수 및 처리 등을 위하여 일정기간동안 “회원”의 정보를 보관할 수 있으며, 해당기간이 경과한 후에 “회원”의 정보를 삭제합니다.

제 14조(책임제한)
1. “재단”은 천재지변, 디도스(DDOS)공격, IDC장애 등 이에 준하는 불가항력으로 인하여“서비스”를 제공할 수 없는 경우에는 “서비스”제공에 관한 책임이 면제됩니다.
2. “재단”은 “회원”의 귀책사유로 인한 “서비스” 이용의 장애에 대하여는 책임을지지 않습니다.
3.“재단”은 “회원”이 “서비스”와 관련하여 게제한 정보, 자료, 사실의 신뢰도, 정확성, 적법성 등에 관하여는 책임을지지 않습니다,
4.“회사”는 무료로 제공되는 “서비스”이용과 관련하여 관련법렵에 특별한 규정이 없는 한 책임을 지지 않습니다.

5.“재단”은 제3자가 서비스내 화면 또는 링크된 웹사이트를 통하여 광고한 제품 또는 서비스의 내용과 품질에 대하여 감시할 의무기타 어떠한 책임도지지 아니합니다.
6.“재단”및“재단”의 임직원 그리고 대리인은 다음과 같은 사항으로부터 발생하는 손해에대해 책임을지지 아니합니다.
졔15조(준거법및재판관할)
1.“재단”과‘회원”간 발생한 분쟁，소송은 대한민국법을 준거법으로합니다
2.‘재단”과“회원”간 발생한 분쟁에 관한 소송을 민사소송법 상의 관할법원에 제소합니다.

부칙
이약관은 2016년 1월1일부터 적용 됩니다.
        </textarea>
      </div>
      <p>&nbsp;</p>
      <div class="row">개인정보취급방침</div>
      <div class="row">
        <textarea class="term">
개인정보취급방침
(재)강진군문화관광재단의 서비스인 강진 스탬프투어는 회원의 개인정보를 매우소중히 생각합니다. 강진 스탬프투어는 「정보통신망 이용촉진 및 정보보호 등에 관한법률」，「개인정보보호법J을 비롯한 개인정보관련 법령을 준수하고 있습니다. 알려주신 개인정보는 동의하신 목적과 범위 내에서만 이용되며，별도의 동의없이는 결코 제3자에게 제공되지 않습니다. 또한 기본적 인권침해의 우려가 있는 민감한 개인정보는 수집하지 않습니다. 본 개인정보취급 방침은 개인정보를 안전하게 취급하기 위한 강진 스탬프투어의 정책과 자세한 사항을 알려드리기 위해 마련되었으며 앱에서 언제든 확인하실 수 있습니다.

1.수집항목 및 수집방법
①필수 항목：ID，광고ID，이메일，기기고유번호(UDID또는IMEI)，단말기위치정보
②추가항목：휴대폰번호，성명，서비스이용기록，접속로그，쿠키，위치정보，접속아이피，불량이용기록
③수집방법：온라인회원가입，회원정보수정，서면양식，전화 또는 팩스，서비스 이용，제휴사로부터의 제공，단말기를 통한 자동수집

2. 이용목적
회원가입, 타겟팅 광고서비스의 제공, 회원식별 및 포인트적립 등 기본적인 서비스 제공 및 마케팅 활용을 위하여 필수항목을 수집합니다. 또한 동의하여 주신 이용약관에 따라 제휴컨텐츠 구매하시는 경우 결제물품 및 청구서 발송, 요금결제, 금융거래 본인인증을 위하여 불가피하게 휴대폰번호를, 포인트 현금전환 위해 은행계좌정보를, 각종 이벤트 시 그 내용에 따라 추가 항목들을 제공받아 이용하고 있습니다. 그리고 중복가입방지, 문의사항처리, 부정 이용자 제재, 포인트 정산, 공지사항 전달,
분쟁조정을 위한 기록보존 등 회원관리와 신규 서비스 개발 및 마케팅 활용을 위한 통계적 분석을 위해 서비스이용기록 등의 사항들을 저장하고 있습니다.

3. 보유기간 및 파기방법
강진다사로드 스탬프는 원칙적으로 각 개인정보의 이용목적이 달성된 후에 지체 없이 해당 정보를 별도의 DB 로 옮겨 재생할 수없는 기술적 방법을 사용하여 파기합니다. 필수항목의 경우 회원가입일로부터 탈퇴일까지, 추가항목의 경우 이용을 완료 시까지 이를 보유하며 그 후 파기하고 있습니다. 단, 법령에 의해 보존해야만 하는 경우 또는
불량이용자 제재와 관련 분쟁 방지를 위하여 아래와 같이 일정 기간 동안 회원정보 · 보존합니다.
① 계약 또는 청약철회 등에 관한 기록 ：전자상거래 등에서의 소비자보호에 관한 법를, 5 년
② 대금결제 및 재화 등의 공급에 관한 기록 ：전자상거래
등에서의 소비자보호에 관한 법률, 5 년
③ 소비자의 불만 또는 분쟁처리에 관한 기록 :
④ 표시, 광고에 관한 기록 ：전자상거래 등에서의 소비자보호에 관한 법률, 6 개월
⑤ 전자금융거래에 관한 기록 ：전자금융거래법, 5 년
⑥ 서비스 방문기록, 접속로그, 접속 아이피: 통신비밀보호법, 3 개월
⑦ 본인 확인에 관한 기록 ：정보통신망 이용촉진 및 정보보호 등에 관한 법률, 6 개월
⑧ 강진 스탬프투어 이용 관련 기록 ：서비스관리목적, 1 년

4. 개인정보 자동수집장치의 설치, 운영 및 거부에 관한
사항
① 쿠키
강진 스탬프투어는 이용자에게 특화된 맞춤 서비스를 제공하기 위해서'쿠키 (cookie)’등을 이용합니다. 쿠키란
웹사이트를 운영하는데 이용되는 서비가 이용자의 브라우저에 보내는 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장되기도 합니다. 강진 스탬프투어는
접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정보 및 방문 회수 파악 등을 통한 타겟 마케팅을 위하여 쿠키를
사용합니다.
이용자는 쿠키 설치에 대한 선택권을 가지고 있으며, 이용자는 웹 브라우저에서 옵션을 설정함으로써 쿠키를 허용 하거나, 모든 쿠키의 저장올 거부할 수도 있습니다.
단, 저장을 거부하는 경우 로그인이 필요한 서비스 이용에 어려움이 있을 수 있습니다.
쿠키 설정 거부 방법 에 쿠키 설정을 거부하는 방법으로는 이용자가 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수있습니다.
설정방법 예 (모바일의 경우) ：웹브라우저 〉 메뉴 〉 설정 〉개인정보 보호 및 보안 》 쿠키허용 체크 해제
② IMEI 또는 UDID (기기고유번호)
IMEI란 세계이동통신사업자연합 (GSMA) 의 가이드라인에 따라 휴대전화 제조업체가 제품에 부여한 국제모바일기기 식별코드를 말하고, UDID는 아이폰 · 아이패드 · 아이팟터치 등 애플의 단말기를 식별하기 위해 각 장치에 고유하게 할당된 40 개의 숫자와 문자열을 말합니다. 이는 주민등록번호 등 직접적인 개인식별정보를 수집하지 않으면서 중복가입을 막을 수있는 수단으로 이용되고 있습니다.

5. 개인정보의 제 3 자에 대한 제공
강진 스탬프투어는 회원이 이용과정 등에서 따로 동의하는 경우나 법령에 규정된 경우를 제외하고는 목적 범위를 초과하여 회원의 개인정보를 이용하거나 제 3 자에게 제공 또는 공유하지 않습니다. 그러나 제휴컨텐츠 구매 등 강진 스탬프투어 서비스에 제 3 자의 서비스가 연결되어 제공되는 경우에는 이용을 위해 필요한 최소한의 범위 내에서 여러분의 동의를 얻은 후에 개인정보를 제 3 자에게 제공할
수 있습니다.

6. 개인정보취급방침의 변경
강진 스탬프투어는 법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보취급방침을 변경할 수 있습니다. 이경우 변경 사항을 게시하며, 변경된 개인정보 취급방침은 게시한 날로부터 7 일 후부터 효력이 발생합니다.

7. 개인정보의 기술적, 관리적 보호대책
강진 스탬프투어는 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 기술적, 관리적 대책을 강구하고 있습니다.
① 이용자의 비밀번호콤 암호화하여 저장 및 관리하고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.
② 회사는 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.
③개인정보관련 취급 직원은 담당자에 한정시켜 최소화 하고 새로운 보안기술의 습득 및 개인정보보호 의무에 관해 정기적인 교육을 실시하며 별도의 비밀번호를 부여하여 접근권한을 관리하는 등 관리적 대책을 시행하고 있습니다
④회원이사용하는ID와 비밀번호는 원칙적으로 본인만이 사용하도록 되어있습니다. 회사는 회원의 개인적인부주의로 ID，비밀번호，주민등록번호등 개인정보가 유출되어발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지
않습니다. 비밀번호에 대한 보안의식을 가지고 비밀번호를 자주변경하며 타인의 모바일기기 또는 공용 PC에서의 로그인시 개인정보가 유출되지 않도록 각별히 주의해주시기바랍니다
8.회원의권리，문의방법
회원은 언제든지 개인정보를 조회하거나 수정할수 있으며 수집 및 이용에 대한 동의를 철회하거나 가입해지를 요청 할 수 있습니다. 구체적으로는 서비스 내 개인설정 기능을 통한 변경 또는 계정 탈퇴를 클릭하거나, 고객센터를 통해 개인정보관리책임사에게 전화 또는 이메일로 연락하시면 지체없이 처리하여 그 결과를 알려드립니다.
또한 탈퇴 후에도 고객센터를 통하여 개인정보의 파기를 확인 받으실 수 있습니다.
개인정보보호와 관련한 문의，불만 기타사항은 강진 스탬프투어 개인정보보호책임자에게 문의하실 수 있습니다.

9. 개인정보보호책임자 및 연락처
회원은 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 회원의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
개인정보보호책임자 ：
소속 ：(재)강진군문화관광재단
직위 ：대표이사
전화 : 061-434-7999
이메일 : mail@gangjin.or.kr
        </textarea>
      </div>
      <p>&nbsp;</p>
      <div class="row">개인정보 수집 및 이용 동의서</div>
      <div class="row">
        <textarea class="term">
개인정보 수집 및 이용 동의서
1. 수집하는 개인정보의 항목
① (재)강진군문화관광재단은 고객관리, 계약 관리 등 각종 서비스의 제공을 위해 아래와 같은 최소한의 개인정보를 수집하고 있습니다.
- 필수 수집항목 :ID, 광고ID, 비밀번호, 이메일, 기기고유번호 (UDID 또는 IMEI),  단말기위치정보
- 추가 수집항목:  휴대폰 번호, 성명, 서비스 이용기록, 접속 로그, 쿠키, 위치정보, 은행계좌 정보, 접속 아이피, 결제기록, 불량이용 기록

2. 개인정보 수집방법
① (재)강진군문화관광재단은  다음과 같은 방법으로 개인정보를 수집합니다.
- 수집 방법 :  온라인 회원가입, 회원정보수정, 서면약식, 전화 또는 팩스, 서비스 이용, 제휴사로 부터의 제공, 단말기를 통한 자동수집

3. 개인정보의 수집 및 이용목적
회원가입, 타겟팅 광고서비스의 제공, 회원식별 및 포인트 적립 등 기본적인 서비스 제공 및 마케팅 활용을 위하여 필수항목을 수집합니다. 또한 동의하여 주신 이용약관에 따라 제휴컨텐츠 구매하시는 겨우 결제물품 및 청구서 발송, 요금결제, 금융거래 본인인증을 위하여 불가피하게 휴대폰번호를, 포인트 현금전환 위해 은행계좌정보를, 각종 이벤트 시 그 내용에 따라 추가 항목들을 제공받아 이용하고 있습니다. 그리고 중복가입방지, 문의사항처리, 부정 이용자 제재, 포인트 정산, 공지사항 전달,
분쟁조정을 위한 기록보존 등 회원관리와 신규 서비스 개발 및 마케팅 활용을 위해 통계적 분석을 위해 서비스 이용기록 등의 사항들을 저장하고 있습니다.

4. 개인정보의 보유 및 이용기간
(재)강진군문화관광재단은  원칙적으로 각 개인정보의 이용목적이 달성된 후에 지체 없이 해당 정보를 별도의 DB 로 옮겨 재생할 수 없는 기술적 방법을 사용하여 파기합니다.
필수항목의 경우 회원가입일로부터 탈퇴 일까지, 추가항목의 경우 이용을 완료시까지 이를 보유하며 그 후 파기하고 있습니다. 단, 법령에 의해 보존해야만 하는
경우 또는 불량이용자 제재와 관련 분쟁 방지를 위하여 아래와 같이 일정 기간 동안 회원정보를 보존합니다. 또한 타 목적으로는 이용되지 않습니다.
① 계약 또는 청약철회 등에 관한 기록 ：전자상거래 등에서의 소비자보호에 관한 법률, 5 년
② 대금결제 및 재화 등의 공급에 관한 기록：전자상거래 등에서의 소비자보호에 관한 법률, 5 년
③ 소비자의 불만 또는 분쟁처리에 관한 기록：전자상거래 등에서의 소비자보호에 관한 법률, 3 년
④ 표시, 광고에 관한 기록 ：전자상거래 등에서의 소비자보호에 관한 법률, 6 개웝
⑤ 전자금융 거래에 관한 기록 ：전자금융거래법, 5 년
⑥ 서비스 방문기록, 접속로그, 접속 아이피 ： 통신비밀보호법, 3 개월
⑦ 본인 확인에 관한 기록 ：정보통신망 이용촉진 및 정보보호 등에 관한 법률, 6 개월
⑧ 강진 스탬프투어 이용 관련 기록 ：서비스관리목적, 1 년

-개인 정보 제 3 자 제공 안내
(재)강진군문화관광재단은 회원이 이용과정 등에서 따로 동의하는 경우나 법령에 규정된 경우를 제외하고는 목적 범위를 초과하여 회원의 개인정보를 이용하거나 제 3 자에게 제공 또는 공유하지 않습니다. 그러나 제휴컨텐츠 구매 등 강진 스탬프투어 서비스에 제 3 자의 서비스가 연결되어 제공되는 경우에는 이용을 위해 필요한 최소한의 범위 내에서 여러분의 동의를 얻은 후에 개인정보를 제 3 자에게 제공할
수 있습니다.
개인정보 제공자는 위 정보 제공 내용에 동의합니다.
        </textarea>
      </div>
      <p>&nbsp;</p>
      <div class="row">위치기반서비스이용약관</div>
      <div class="row">
        <textarea class="term">
졔 1장 총칙
제 1조(목적)
본 약관은 회원(강진 스탬프투어앱 서비스 약관에 동의한 자를 말합니다. 이하“회원”이라고 합니다이 (재)강진군문화관광재단(이하“재단”라고합니다)이 제공하는 강진 스탬프투어서비스(이하“서비스’라고합니다)를 이용함에 있어 재단과 회원의 권리 · 의무 및 책임사항을 규정함을 목적으로 합니다.

제 2조(이용약관의 효력 및 변경)
①본 약관은 서비스를 신청한 고객또는 개인위치정보주체가 본 약관에 동의하고 재단이 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.
②회원이 온라인에서 본 약관의”동의하기”버튼을 클릭 하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며，그 적용에 동의한 것으로 봅니다.
③재단은 위치정보의 보호 및 이용 등에 관한 법률，콘텐츠산업 진흥법，전자상거래 등에서의 소비자보호에 관한 법률，소비자기본법 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
④재단이 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고，개정내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스홈페이지에 게시하거나 회원에게 전자적형태(전자우편，SMS둥)로 약관 개정사실을 발송 하여 고지합니다.
⑤재단이 전항에 따라 회원에게 통지하면서 공지 또는 공지고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 이용약관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.

제 3조(관계법령의 적용)
본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에  대하여는 관계법령 또는 상관례에 따릅니다.

제 4조(서비스의 내용)

서비스명
서비스내용
강진 스탬프투어앱 서비스
1) 휴대용 단말기에 스탬프를 접촉하였을 시，개인위치정보주체의 현 위치를 이용한 결과를 제시합니다
2) 주변매장검색시，개인위치정보주체의 현위치를 이용한 검색결과  및 주변결과(지역정보，혜택정보등)를 제시합니다.
재단이 제공하는 서비스는 아래와 같습니다


1

제 5조(서비스 이용요금)
①재단이 제공하는 서비스는 기본적으로 무료입니다. 단 별도의 유료서비스의 경우 해당서비스에 명시된 요금을 지불하여야 사용가능 합니다.
②재단은 유료서비스 이용요금을 재단과 계약한 전자지불업체에서 정한 방법에 의하거나 재단이 정한 청구서에 합산하여 청구할 수 있습니다.
③유료서비스이용을 통하여 결제된 대금에 대한 취소 및 환불은 재단의 결제 이용약관 등 관계법에 따릅니다.
④회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.
⑤무선서비스 이용시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.
⑥MMS등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다

제 6조(서비스내용변경 통지 등)
① 재단이 서비스내용을 변경하거나 종료하는 경우 재단은 회원의 등록된 전자우편주소로 이메일을 통하여 서비스내용의 변경사항 또는 종료를 통지할 수 있습니다
② ①항의 경우 블특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타재단의 공지사항을 통하여 회원들에게 통지할 수 있습니다，

제7조(서비스이용의 제한 및 중지)
① 재단은 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스이용을 제한하거나 중지시킬수 있습니다
1. 회원이 재단서비스의 운영을 고의 또는 중과실로 방해하는 경우
2. 서비스용 설비 점검，보수 또는 공사로 인하여 부득이한 경우
3. 전기통신사업법에 규정된 기간통신사업자가 전기통신서비스를 중지했을 경우
4. 국가비상사태，서비스설비의 장애 또는 서비스이용의 폭주 등 으로 서비스이용이 지장이있을 때
5. 기타 중대한 사유로 인하여 재단이 서비스 제공을 지속하는 것이 부적당하다고 인정하는    경우
②재단은 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다

제 8조 (개인위치정보의 이용 또는 제공)
①재단은 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 개인위치정보주체의 동의를 얻어야 합니다.
②회원 및 법정대리인의 권리와 그 행사 방법은 제소 당시의 이용자의 주소에 의하며，주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만，제소 당시 이용자의 주소 또는 기소가 분명하지 않거나 외국거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
③ 재단은 타사업자 또는 이용고객과의 요금정산 및 민원처리를 위해 위치정보이용 · 제공사실확인자료를 자동 기록 · 보존하며，해당자료는 1년간 보관합니다
④ 재단은 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신단말장치로 매회 회원에게 제공받는 제공일시 및 제공목적을 즉시 통보합니다. 단, 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신단말장치    또는 전자우편주소로 통보합니다.
1. 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지   아니한 경우
2. 회원이 온라인 게시등의 방법으로 통보할 것을 미리 요청한 경우

제9조(개인위치정보주체의 권리)
① 회원은 재단에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 재단은수집한 개인위치정보 및 위치정보이용，제공사실 확인자료를 파기합니다.
② 회원은 재단에 대하여 언제든지 개인위치정보의 수집，이용 또는 제공의 일시적인 중지를 요구할 수 있으며，재단은 이를 거절할 수 없고 이를 위한 기술적 수단을 갖추고 있습니다
③회원은 재단에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고，당해자료의 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 재단은 정당한 사유없이 회원의 요구를 거절할 수 없습니다.
1.본인에 대한 위치정보 수집，이용，제공사실 확인자료
2.본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에의하여 제3자에게 제공된 이유 및 내용
④회원은 제1항 내지 제3항의 권리행사를 위해 재단의 소정의 절차를 통해 요구할 수 있습니다.

졔 10조(법정대리인의 권리)
①재단은 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해회원과 당해회원의 법정대리인으로부터 동의를 받아야합니다. 이 경우 법정대리인은 제 9조에 의한 회원의 권리를 모두 가집니다
②재단은 14세미만의 아동의 개인위치정보 또는 위치정보이용 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공 하고자 하는 경우에는 14세미만의 아동과 그 법정대리인의 동의를 받아야합니다. 단, 아래의 경우는 제외합니다.
1.위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보이용，제공사실확인자료가 필요한 경우
2.통계작성，학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우

제11조 (8세 이하의 아동 등의 보호의우자의 권리)
①재단은 아래의 경우에 해당하는 자(이하“8세이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
1.8세 이하의 아동
2.금치산자
3.장애인복지법 제2조 제2항 제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인 고용촉진 및 직업재활법 제2조 제2호의 규정에 의한 중증장애인에 해당하는 자(장애인복지법 제29조의 규정에 의하여 장애인등록을 한 자에 한한다)
②8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여   재단에 제출하여야 합니다.
③보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.

제 12조(위치정보관리책임자의 지정)
①재단은 위치정보를 적절히 관리 보호하고 개인위치 정보주체의 불만을 원활히 처리할 수   있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.

②위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인 사항은   본 약관의 부칙 에따릅니다.

제13조(손해배상)
①재단이 위치정보의 보호 및 이용 등에 관한 법률 제 15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 재단에 대하여 손해배상 청구를 할 수 있습니다，이 경우 재단은 고의，과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.
②회원이 본 약관의 규정을 위반하여 재단에 손해가 발생한 경우 재단은 회원에 대하여 손해배상을 청구 할 수 있습니다. 이 경우 회원은 고의，과실이 없음을 입증하지 못하는 경우책임을 면할수 없습니다.

제14조(면책)
①재단은 다음 각 호의 경우로 서비스를 제공할수 없는 경우 이로 인하여 회원에게 발생한손해에 대해서는 책임을 부담하지 않습니다.
1.천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
2.서비스제공을 위하여 재단과 서비스제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우
3.회원의 귀책사유로 서비스 이용에 장애가 있는 경우

4.제1호 내지 제3호를 제외한 기타재단의 고의과실이 없는 사유로 인한 경우
②재단은 서비스 및 서비스에 게재된 정보，자료，사실의 신뢰도，정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 아니합니다.

제 15조(규정의 준용)
②본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.
③본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.

제16조(분쟁의 조정 및 기타)
①재단은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할수 없는 경우에는 위치정보의 보호 및이용 등에 관한법률제 28조의 규정에 의한 방송통신위원회에 재정을 신청 할 수 있습니다.
②재단 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다.

제17조 (재단의 연락처) 재단의 상호 및 주소 등은 다음과 같습니다.
1.상호：(재)강진군문화관광재단
2.대표자；임  석
3.주소：전라남도 강진군 강진읍 탐진로 116 1층
4.대표전화：061-434-7999

부칙
제 1조(시행일) 이 약관은 2016년 1월1일부터 시행한다.
제 2조 위치정보관리책임자는 2016년 1월을 기준으로 다음과 같이 지정합니다.
1.소속：(재)강진군문화관광재단
2.성명：임석 대표
2.연락처 ：061-434-7999
        </textarea>
      </div>
      <p>&nbsp;</p>
      <div class="row">위치정보이용약관</div>
      <div class="row">
        <textarea class="term">
제1조(목적) 본 약관은 회원(강진 스탬프투어앱 서비스약관에 동의한 자를 말합니다. 이하“회원’이라고 합니다.)이 (재)강진군문화관광재단(이하“재단’라고 합니다.)이 제공하는 인근 마케팅지역에서 정보(포인트등)받기 서비스(이하 “서비스’라고합니다)를 이용함에 있어 재단과 회원의 권리 · 의무 및 책임사항을 규정함을 목적으로 합니다.

제2조(이용약관의 효력 및 변경)
1. 본 약관은 서비스를 신청한 고객 또는 개인위치정보주체가 본약관에 동의하고 재단이 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.
2. 회원이 온라인에서 본악관의”동의하기”버튼을 클릭하였을 경우 본약관의 내용을 모두읽고 이를 충분히 이해하였으며，그 적용에 동의한 것으로 봅니다.
3. 재단은 위치정보의 보호 및 이용등에 관한법률，콘텐츠산업진흥법，전자상거래등에서의 소비자보호에 관한법률，소비자기본법 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
4. 재단이 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와개정사유를 명시하여 현행약관과 함께 그적용일자 10일 전부터 적용일 이후 상당한기간 동안 공지만을 하고，개정내용이 회원에게 불리한 경우에는 그 적용일자 30일전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스홈페이지에 게시하거나 회원에게 전자적형태(전자우편，SMS등)로 약관개정 사실을 발송하여 고지합니다
5. 재단이 전항에 따라 회원에게 통지하면서 공지 또는 공지 · 고지일로부터 개정약관 시행일 7일후 까지 거부의사를 표시하지 아니하면 이용악관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다

제3조(관계법령의 적용)
본 약관은 신의성실의 원칙에 따라 공정하게 적용하며，본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다

제4조(서비스의 내용)
1. 재단이 제공하는 서비스는 아래와 같습니다.
①인근 마케팅지역에서 정보(쿠폰등) 받기 서비스
②임의로 지정된 마케팅 지역(또는매장)에 설치된 고객Device 인식장비(Beacon등)을통해 고객의 Device(스마트폰 등)에 설치된App으로 정보(쿠폰 등)를 수신 받는 서비스
③임의로 지정된 마케팅지역(또는매장)에 방문(접근)한 고객의Device를 인식해 App으로 방문 Stamp 등의 로열티 서비스 제공
④강진 스탬프투어 App 설치 고객 및 기타 제휴사 App 설치 고객에게 위치 정보를 통한 기타 서비스 제공

제5조(서비스 이용요금)
1.재단이 제공하는 서비스는 기본적으로 무료입니다、단 별도의 유료서비스의 경우   해당 서비스에 명시된 요금을 지불 하여야 사용 가능합니다.
2.재단은 유료서비스 이용요금을 재단과 계약한 전자지불업체에서 정한 방법에 의하거나 재단이 정한 청구서에 합산하여 청구할 수 있습니다.
3.유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 재단의 결제 이용약관 등 관계법에 따릅니다.
4.회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절 될수 있습니다
5.무선 서비스 이용시 발생하는 데이터 통신료는 별도이며 가입한 각이동통신사의 정책에 따릅니다.
6.MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다

제6조(서비스내용변경 통지 등)
1.재단이 서비스 내용을 변경하거나 종료하는 경우 재단은 회원의 등록된 전자우편주소로 이메일이나 App내 공지사항을 통하여 서비스내용의 변경사항 또는 종료를 통지할수 있습니다.
2.1항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 재단의 공지사항읕 통하여 회원들에게 통지할 수 있습니다.

제7조(서비스이용의 제한 및 중지)
1.재단은 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스이용을제한하거나 중지 시킬수 있습니다.
① 회원이 재단 서비스의 운영을 고의 또는 중과실로 방해하는경우
② 서비스용 설비점검，보수 또는 공사로 인하여 부득이한 경우
③ 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
④ 국가비상사태，서비스 설비의 장애 또는 서비스 이용의 폭주등 으로 서비스 이용에 지장이 있는때
⑤ 기타 중대한 사유로 인하여 재단이 서비스제공을 지속하는 것이 부적당하다고 인정하는 경우

2.재단은 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야합니다

제8조(개인위치정보의 이용 또는 제공)
1. 재단은 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 개인위치정보주체의 동의를 얻어야합니다.
2. 회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며，주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만，제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
3. 재단은 타사업자 또는 이용고객과의 요금정산 및  민원처리를 위해 위치정보 이용 · 제공 · 사실 확인자료를 자동 기록 · 보존하며，해당자료는 1년간 보관합니다.
4. 재단은 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신단말장치로 매회 회원에게 제공받는 자, 제공 일시 및 제공목적을 즉시 통보합니다. 단 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신단말장치 또는 전자우편주소로 통보합니
①개인위치정보를 수집한 당해 통신단말장치가 문자，음성 또는 영상의 수신기능을갖추지 아니한 경우
②회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우

제9조(개인위치정보주체의권리)
1. 회원은 재단에 대하여 언제든지 개인위치정보를 이용한위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다.이경우재단은 수집한 개인위치정보 및 위치정보 이용，제공 사실확인자료를 파기합니다
2. 회원은 재단에 대하여 언제든지 개인위치정보의 수집，이용 또는 제공의 일시적인 중지를 요구할 수 있으며，재단은 이를 거절할 수 없고 이를 위한 기술적수단을
갖추고 있습니다.
3. 회원은 재단에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할수 있고，당해자료에 오류가 있는 경우에는 그정정을 요구할 수 있습니다. 이 경우 재단은 정당한 사유없이 회원의 요구를 거절할수 없습니다.
① 본인에 대한 위치정보 수집，이용，제공사실 확인자료
② 본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한법률 또는 다른 법률   규정에 의하여 제3자에게 제공된 이유 및 내용
4.회원은 제1항 내지 제3항의 권리행사를 위해 재단의 소정의 절차를 통해 요구할 수 있습니다.

제10조(위치정보관리책임자의 지정)
1. 재단은 위치정보를 적절히 관리 · 보호하고 개인위치정보 주체의 불만을 원활히처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.
2. 위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인   사항은 본 약관의 부칙에 따릅니다.

제11조(손해배상)
1 .재단이 위치정보의보호 및 이용 등에 관한법률 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 재단에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 재단은 고의，과실이 없음을 입증하지 못하는 경우 책임을면할 수 없습니다.
2.회원이 본약관의 규정을 위반하여 재단에 손해가 발생한 경우 재단은 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의，과실이 없음을 입증하지
못하는 경우 책임을 면할 수 없습니다.

제12조(면책)
1.재단은 다음 각호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게발생한 손해에 대해서는 책임을 부담하지 않습니다
① 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
② 서비스제공을 위하여 재단과 서비스제휴 계약을 체결한 제3자의 고의적인 서비스방해가 있는 경우
③ 회원의 귀책사유로 서비스이용에 장애가 있는 경우
④ 제1호 내지 제3호를 제외한 기타 재단의 고의 · 과실이 없는 사유로 인한 경우
2. 재단은 서비스 및 서비스에 게재된 정보，자료，사실의 신뢰도，정확성 등에대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임올 부담하지 아니합니다

제13조(규정의 준용)
1.본 약관은 대한민국법령에 의하여 규정 되고 이행됩니다
2.본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.

제14조(분쟁의 조정 및기 타)
1.재단은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의보호 및 이용 등에 관한법률 제28조의 규정에 의한 방송통신위원회에 재정을 신청할 수있습니다.
2.재단 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니 하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다

제15조(재단의 연락처)
1.기관명：(재)강진군문화관광재단
2.대표자：임 석
3.주소：전라남도 강진군 강진읍 탐진로 116
4.대표전화：061-434-7999

부칙
1.위치정보관리책임자：임 석
2.소속：(재)강진군문화관광재단
3.전 화 : 061-434-7999
4.이메일 : mail@gangjin.or.kr
5.이 약관은 2016년 1월1일 부터 적용됩니다
        </textarea>
      </div>
      <p>&nbsp;</p>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div id="footer">
      <button class="button button-clear" ng-click="goSignIn()"><strong>로그인</strong></button>
      <span>|</span>
      <button class="button button-clear" ng-click="goSignUp()">가입하기</button>
      <span>|</span>
      <button class="button button-clear" ng-click="goFindPassword()">비밀번호 찾기</button>
    <span>|</span>
    <button class="button button-clear" ng-click="goTerm()">약관보기</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
